body {
    background-image: var(--background-gradient-1);
}

.section-corpo {
    background-color: var(--color-whiteish);

    width: 80%;
    padding: 20px;
    height: auto;

    margin: auto;
    margin-top: 0;
    margin-bottom: 10vh;

    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
}

h1 {
    font-weight: bold;

    text-align: center;
}

.div-lista {
    margin: auto;

    display: flex;
    flex-direction: column;
    gap: 20px;
}
