* {
    box-sizing: border-box;
    font: normal 12pt Arial;
}

body {
    margin: 0;
    background-size: cover;
    display: flex;
}

:root {
    --background-gradient-1: url("/assets/Images/Backgrounds/Gradient-1.png");
    --background-gradient-2: url("/assets/Images/Backgrounds/Gradient-2.png");
    --background-gradient-3: url("/assets/Images/Backgrounds/Gradient-3.png");

    --color-whiteish: #f2efeb;
    --color-gray: #545454;
    --color-blackish: #1a2533;
    --color-blue: #004aad;
    --color-purple: #7611ad;

    --icon-trashcan: url("/assets/Images/Icons/Lixeira.png");
    --icon-arrow-up: url("/assets/Images/Icons/Subir.png");
    --icon-arrow-down: url("/assets/Images/Icons/Descer.png");
    --icon-edit: url("/assets/Images/Icons/Editar.png");
}
